---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Portafolio Marc">
  <link href="../css/styles.css" rel="stylesheet">
<body>
	<div class="presentacion py-4 px-5">
        <div class="presentacion flex flex-col items-center">
          <p class="animate-fade animate-duration-[1500ms] animate-delay-[550ms]">Desarollador</p>
            <div class=" flex">
              <div class="animate-fade-right animate-duration-[1500ms] animate-delay-[1050ms]">Front</div>
              <div class="animate-fade animate-duration-[1500ms] animate-delay-[1000ms]">-</div>
              <div class="animate-fade-left animate-duration-[1500ms] animate-delay-[1050ms]">End</div>
            </div>
        </div>
       
        <p class="presentacion2">Me llamo Marc, un programador <span class="front">Front-End</span> con ganas de crecer en este sector y pulir mis habilidades</p>
    </div>
    <div class="boton">
      <a href="../media/pdf/Curriculum mq.pdf" download class="bDescarga">
      Descarga mi CV
      </a>
    </div>


    <header class="sticky" id="portfolio">
      <div class="py-3">
        <div class="flex justify-between items-center">
          <a class="text-xl font-bold" href="#">Marc Quimis</a>
    
          <nav>
            <ul class="flex space-x-4 justify-end items-end">
              <li>
                <a href="#portfolio">Portfolio</a>
              </li>
              <li>
                <a href="#habilidades">Skills</a>
              </li>
              <li>
                <a href="#proyectos">Proyectos</a>
              </li>
              <li>
                <a href="#contacto">Contacto</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    
    
      <h2 class="text-4xl py-4 px-5 text-white" id="habilidades">Skills</h2>
        
        <div class="flex justify-evenly">
          <div class="skills">
            <img src="../media/imgs/htmllogo.svg" alt="">
          </div>
          <div class="skills">
            <img src="../media/imgs/csslogo.svg" alt="">
          </div>
          <div class="skills">
            <img src="../media/imgs/javascriptlogo.svg" alt="">
          </div>
          <div class="skills">
            <img src="../media/imgs/tailwindcss.svg" alt="">
          </div>
        </div>


  
        
            <h2 class="text-4xl py-4 px-5 text-white" id="proyectos">Lo que puedo demostrar:</h2>

    <section class="flex flex-wrap">
  
      <article class="w-full md:w-1/3 p-4 group relative">
        <div class="bg- p-4 transition-transform transform hover:scale-105">
          <img src="" alt="" class="w-16 h-16 mx-auto transition-opacity">
          <h3 class="text-lg mt-4">Proyecto 0</h3>
          <p class="mt-2">Proximamente.</p>
    
          <a href="#" class="absolute bottom-0 left-0 right-0 py-2 text-center bg-orange-400 opacity-0 group-hover:opacity-100">Ver GitHub</a>
        </div>
      </article>
    

      <article class="w-full md:w-1/3 p-4 group relative">
        <div class="bg-white p-4 transition-transform transform hover:scale-105">
          <img src="" alt="" class="w-16 h-16 mx-auto transition-opacity">
          <h3 class="text-lg mt-4">Proyecto 1</h3>
          <p class="mt-2">Proximamente.</p>

          <a href="#" class="absolute bottom-0 left-0 right-0 py-2 text-center bg-orange-400 opacity-0 group-hover:opacity-100">Ver GitHub</a>
        </div>
      </article>

      <article class="w-full md:w-1/3 p-4 group relative">
        <div class="bg-white p-4 transition-transform transform hover:scale-105">
          <img src="" alt="" class="w-16 h-16 mx-auto transition-opacity">
          <h3 class="text-lg mt-4">Proyecto 2</h3>
          <p class="mt-2">Proximamente.</p>

          <a href="#" class="absolute bottom-0 left-0 right-0 py-2 text-center bg-orange-400 opacity-0 group-hover:opacity-100">Ver GitHub</a>
        </div>
      </article>

      <article class="w-full md:w-1/3 p-4 group relative">
        <div class="bg-white p-4 transition-transform transform hover:scale-105">
          <img src="" alt="" class="w-16 h-16 mx-auto transition-opacity">
          <h3 class="text-lg mt-4">proyecto 3</h3>
          <p class="mt-2">Proximamente..</p>

          <a href="#" class="absolute bottom-0 left-0 right-0 py-2 text-center bg-orange-400 opacity-0 group-hover:opacity-100">Ver GitHub</a>
        </div>
      </article>

      <article class="w-full md:w-1/3 p-4 group relative">
        <div class="bg-white p-4 transition-transform transform hover:scale-105">
          <img src="" alt="" class="w-16 h-16 mx-auto transition-opacity">
          <h3 class="text-lg mt-4">Poryecto 4</h3>
          <p class="mt-2">Proximamente.</p>

          <a href="#" class="absolute bottom-0 left-0 right-0 py-2 text-center bg-orange-400 opacity-0 group-hover:opacity-100">Ver GitHub</a>
        </div>
      </article>

      <article class="w-full md:w-1/3 p-4 group relative">
        <div class="bg-white p-4 transition-transform transform hover:scale-105">
          <img src="" alt="" class="w-16 h-16 mx-auto transition-opacity">
          <h3 class="text-lg mt-4">Proyecto 5</h3>
          <p class="mt-2">Proximamente.</p>

          <a href="#" class="absolute bottom-0 left-0 right-0 py-2 text-center bg-orange-400 opacity-0 group-hover:opacity-100">Ver GitHub</a>
        </div>
      </article>
        
    </section>
    
    <footer id="contacto" class="flex flex-col items-center my-6 mx-6">
      <h2 class="text-4xl py-4 px-5">Contacto</h2>
    
      <div class="flex justify-evenly w-full max-w-xs">
        <a href="https://api.whatsapp.com/send?phone=632102102&text=¡Hola! He visto tu perfil de developer y me gustaría contactar contigo." target="_blank" class="text-md link">
          <img src="media/imgs/whatsapp.svg" alt="WhatsApp" class="w-12 h-15">
        </a>
    
        <a href="https://www.linkedin.com/in/marc-quimis-guanolema-a676ab28b/" target="_blank" class="text-md link">
          <img src="media/imgs/linkedi.svg" alt="LinkedIn" class="w-12 h-15">
        </a>
    
        <a href="https://github.com/MarcQuimis" target="_blank" class="text-md link">
          <img src="media/imgs/githublogo.svg" alt="GitHub" class="w-12 h-15">
        </a>
      </div>
    </footer>
  </body>

 